body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.Download{
    width:350px;
    background-color: #60de29;
    box-shadow: 1px 2px 1px 1px  black;
}

.Download:hover{
    background-color: #60de29 !important;
}

.Retry{
    width:350px;
    box-shadow: 1px 2px 1px 1px  black;
}

.Retry:hover{
    background-color: #60de29 !important;
}

.blogs:hover{
    color: rgb(32, 101, 205);
}


.footer{
    background-color: #002c13;
}

.upload-button:hover{
    background-color: #60de29 !important;
}

.upload-button{
    width: 350px;
    box-shadow: 1px 2px 1px 1px  black;
}
#input{
    width: 350px;
    border: none;
    outline: none;
    background-color: rgb(59, 167, 239);
}
.linearColoring{
    height: 20px;
    background-image: linear-gradient(to bottom, #f3fcef, #fff);
}

@media screen  and (max-width:575px){
    .upload-button{
        width: 200px;
    }
    #input{
        width: 180px;
    }
    .Download{
        width:180px;
    }
    .Retry{
        width: 180px;
    }
}