
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:var(--primary-color);
    color: var(--text-color);
}

.head1 {
    font-size: 80px;
}

.head2 {
    font-size: 70px;
}

.button1 {
    width: 110px;
    background-color: var(--button-color);
    box-shadow: 1px 2px 1px 1px var(--text-color);
    color: var(--text-color);
}

.button2 {
    width: 113px;
    box-shadow: 1px 2px 1px 1px var(--text-color);
    color: var(--text-color);
}

.blogs:hover {
    color: rgb(32, 101, 205);
}

.button1:hover {
    background-color:var(--button-color) !important;
}

.button2:hover {
    background-color: var(--button-color) !important;
}

.name{
    background-image: linear-gradient(to right, #60de29, #aef490);
    width: 500px;
    box-shadow: 1px 2px 1px 1px var(--primary-color);
    font-size: 20px;
}

.email{
    background-image: linear-gradient(to right,#aef490, #60de29);
    width: 500px;
    box-shadow: 1px 2px 1px 1px var(--primary-color);
    font-size: 20px;
}

:root{
    --primary-color:#fff;
    --text-color:#343333;
    --button-color:#60de29;
}
.dark-theme{
    --primary-color:#343333;
    --text-color:#f4f4f4;
    --button-color:#3bc06e;
}

@media screen and (max-width:575px) {
    .head1 {
        font-size: 55px;
    }

    .head2 {
        font-size: 45px;
    }

    .upload-button {
        width: 200px;
    }
    .button1 {
        width: 200px;
    }

    .button2 {
        width: 200px;
    }
}

.Download{
    width:350px;
    background-color: var(--button-color);
    box-shadow: 1px 2px 1px 1px  black;
}

.Download:hover{
    background-color: var(--button-color) !important;
}

.Retry{
    width:350px;
    box-shadow: 1px 2px 1px 1px  black;
    background-color: #fff;
}

.Retry:hover{
    background-color: #60de29 !important;
}

.blogs:hover{
    color: rgb(32, 101, 205);
}


.footer{
    background-color: #24613e;
}

.upload-button:hover{
    background-color: var(--button-color) !important;
}

.upload-button{
    width: 350px;
    box-shadow: 1px 2px 1px 1px var(--text-color);
}
#input{
    width: 350px;
    border: none;
    outline: none;
    background-color: rgb(59, 167, 239);
}
#linearColoring{
    height: 20px;
    background-image: linear-gradient(to bottom, #f3fcef, var(--primary-color));
}

@media screen  and (max-width:575px){
    .upload-button{
        width: 200px;
    }
    #input{
        width: 180px;
    }
    .Download{
        width:180px;
    }
    .Retry{
        width: 180px;
    }
}
