body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.button2{
    width:150px;
    background-color: #85df5f;
}

.button1{
    width:150px;
}

.footer{
    background-color: #002c13;
}

.button2:hover{
    background-color: #60de29 !important;
}

.upload{
    width: 250px;
    border-color: 10px 10px 10px 10px  rgb(161, 4, 4);
}